

{% extends "base.html.twig" %}

{% block body %}

<br><br>


{{ form_start(form) }}


        {{ form_row(form.prenom) }}
		{{ form_row(form.nom) }}
		{{ form_row(form.commentaire) }}
		
<button type="submit" class="btn btn-primary">Enregister</button>


{{ form_end(form) }}


<br><br>

 {% for item in avis %}
 <div class= "bg-light text-dark">
<div class="container">
<p>{{item.prenom}}</p>
<p>{{item.nom}}</p>

</div>
<div class="container border-solid">
<p>Votre commentaire:{{item.commentaire}}</p>
<hr>
</div>
</div>
        
{% endfor %}
{% endblock  %}