{% extends 'base.html.twig' %}



{% block body %}
<br><br>
<h1 class="text-center"><small>Bienvenue dans </small>HotelSabaa</h1>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
  {% for item  in photos %}

 
     <div class="carousel-item {% if item.ordre == 1 %}active{% endif %}">

      <img src="{{item.photo}}"  class="d-block w-100" alt="..." >
    </div>
  {% endfor %}
   
  
  </div>
</div>







   

    
	<br><br><br>
  <section class="d-flex justify-content-between
">


<div class="text-center"> 
   
     <img src="{{asset('image/p3.jpg')}}" width="150px" class="rounded-circle" alt="..."> <br>
       <a href="{{path('app_show')}} " class="">Découvrir nos chambres</a>
   
</div>

    <div class="text-center"> 
     <img src="{{asset('image/resto2.jpg')}}" class="rounded-circle" width="150px" alt="..."><br>
      <a href="{{path('menu')}}" class=""> Voir la carte</a>
     </div>

	 <div class="text-center"> 
     <img src="{{asset('image/spa1.jpg')}}" width="150px" class="rounded-circle" alt="..."><br>
      <a href="{{path('spa')}}" class="">Voir les soins</a>
    </div>
	        	
</section>
     					
		
	


	

    
    
    
    
    
    
   

{% endblock %}
