{% extends "base.html.twig" %}

{% block body %}
<br><br>
<h1 class="text-center">Nos Spa</h2><br><br>
<div class="card text-bg-dark mb-3  text-center" style="max-width: 108rem;">
  
  <div class="card-body">
    <h5 class="card-title text-center">Spa avec soin Détente</h5>
    <p class="card-text col-12">Bien au chaud, détendez-vous dans notre espace détente en admirant le paysage hivernal, durant 20 minutes, lâchez prise et laissez nos esthéticiennes vous chouchouter avec un rituel de soin Decléor… dégustez un cocktail dans notre salon cosy au coin du feu. Quiétude et détente garanties  !</p>
    <li>4h d’accès à l’espace bien-être entre 10h et 20h</li>
    <li>un soin de 50 minutes au choix,</li>
    <li>mise à disposition d’un peignoir, drap de bain et chaussons</li>
     <li>un cocktail de fruits</li><br>


    <img src="{{asset('image/spa1.jpg')}} "  width="200px" alt="...">
    
  </div>
  <div class="card-header text-center"><a href="{{asset('image/fichespa.jpg')}}">Voir Plus</a></div>
</div>

<div class="card text-bg-dark mb-3 text-center" style="max-width: 108rem;">
  
  <div class="card-body">
    <h5 class="card-title text-center ">Spa avec soin Relaxant</h5>
    <p class="card-text">Bien au chaud, détendez-vous dans notre espace détente en admirant le paysage hivernal, durant 20 minutes, lâchez prise et laissez nos esthéticiennes vous chouchouter avec un rituel de soin Decléor… dégustez un cocktail dans notre salon cosy au coin du feu. Quiétude et détente garanties  !.</p>
    <li>4h d’accès à l’espace bien-être entre 10h et 20h</li>
    <li>un soin de 50 minutes au choix</li>
    <li>mise à disposition d’un peignoir, drap de bain et chaussons</li>
    <li>une assiette gourmande et une boissons sans alcool</li><br>
    

    <img src="{{asset('image/spa2.jpg')}}" width="200px" class="" alt="...">
  </div>
  <div class="card-header text-center"><a href="{{asset('image/fichespa.jpg')}}">Voir Plus</a></div>
</div>

<div class="card text-bg-dark mb-3 text-center" style="max-width: 108rem;">
  
  <div class="card-body">
    <h5 class="card-title text-center">Spa avec soin Plaisir</h5>
    <p class="card-text">Bien au chaud, détendez-vous dans notre espace détente en admirant le paysage hivernal, durant 20 minutes, lâchez prise et laissez nos esthéticiennes vous chouchouter avec un rituel de soin Decléor… dégustez un cocktail dans notre salon cosy au coin du feu. Quiétude et détente garanties  !</p>
    <li>4h d’accès à l’espace bien-être entre 10h et 20h</li>
    <li>un soin de 50 minutes au choix</li>
    <li>mise à disposition d’un peignoir, drap de bain et chaussons</li>
    <li>un déjeuner du marché apéritif et boissons compri</li><br>
    <img src="{{asset('image/spa3.jpg')}}" width="200px" class="" alt="...">
  </div>
  <div class="card-header text-center"><a href="{{asset('image/fichespa.jpg')}}">Voir Plus</a></div>
</div>






{% endblock %}